
/* font for the weather is currently not working */
@font-face {
    font-family: 'weather';
    src: url('/fonts/artill_clean_icons-webfont.eot');
    src: url('fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/artill_clean_icons-webfont.woff') format('woff'), url('fonts/artill_clean_icons-webfont.ttf') format('truetype'), url('fonts/artill_clean_icons-webfont.otf') format('otf'), url('fonts/artill_clean_icons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}
html{
  background-color: white;
}
body {
    background-blend-mode: hard-light;
    font-size: 12pt;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-famiy: 'Vollkorn', serif; */
}

h4.author, h3, .text-center{
    text-align: center;
}

.text-left{
  text-align: left;

}

#clock {
    float:right;
    padding-top: 20px;
    vertical-align: middle;
    text-decoration: none;
}

.contactus, .input-group {
    z-index: 0;
}

.contactus, .aboutpic{
  padding:10px;

}

.formbox{
  margin-left: 50px;
}

.well {
    border: none;
    background-color: white;
}

#header {
    position: relative;
    width: 100%;
    display: table;
    color: white;
}

/* resize icons on contact page */
.glyphicon{
  font-size:15px;
}

.theTriton {
    padding: 5px;
    vertical-align: middle;
    font-size: 30pt;
    color: white;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

#navigation.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

#header{
  background-color: #1e73be;
}

#container {
    min-height: 300%;
}

.sectionhome {
    font-size: 30px;
    text-align: center;
}

.sectiontitle {
    font-size: 30px;
}

nav ul {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

section {
    line-height: 1.5em;
    font-size: 0.9em;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
}

.handle {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: black;
    border: 1px solid #eee;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    font-size: 11px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.socialmediaicons .fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.socialmediaicons .fa-twitter {
    background: #55ACEE;
    color: white;
}
/* shows hamburger on desktop */

@media screen and (max-width:766px) {
    nav ul {
        max-height: 0;
    }
    .showing {
        max-height: 20em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    #clock, #weather{
      display: none;
    }

    .formbox{
      margin: 0 auto !important;
    }

    .form-group{
      padding: 15px;
      width: 100% !important;
    }

    .btn-primary{
      padding: 15px;
    }
}




a{
  text-decoration: none;
}

p, li, a{
  font-size: 14px;
}

/* GRID */

.twelve { width: 100%; }


/* COLUMNS */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* GENERAL STYLES */

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

/* TWELVE */

.p12 .is-active{
  font-weight: bold;
  border-bottom: 3px solid #1e73be;
}

.p12 a:first-of-type, .p12 a:last-of-type {
  background-color: white;
  margin: auto 5px;
  color: #222;
  font-weight: bold;
  font-size: x-large;
}





/* hides the navigation bar on desktop */

@media screen and (min-width: 768px) {
    .handle, .remove {
        display: none;
    }
    .footer {
        padding: 20px;
    }
    #copyright {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .border-right {
        border-right: 1px solid black;
    }

    #weather, #clock{
      margin:auto;
      clear: right;
    }

    #clock{
      margin: auto;
    }



  }

    /* Docs at http://http://simpleweatherjs.com
      Look inspired by http://www.degreees.com/
      Used for demo purposes.
      Weather icon font from http://fonts.artill.de/collection/artill-weather-icons
      DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break. */

    #weather {
        width: 100px;
        margin: 0px auto;
        float: left;
        vertical-align: middle;
        text-transform: uppercase;
        padding-top: 20px;
        text-decoration: none;
    }
    #weather i {
        color: black;
        font-family: 'weather';
        /* font-size: 50px; */
        font-weight: normal;
        font-style: normal;
        line-height: 1.0;
        text-transform: none;
    }
    #weather h2 {
        margin: 0 0 8px;
        color: white;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    }
    #weather ul {
        margin: 0;
        padding: 0;
    }
    #weather li {
        background: black;
        background: rgba(255, 255, 255, 0.90);
        padding: 20px;
        display: inline-block;
        border-radius: 5px;
    }
    #weather .currently {
        margin: 0 20px;
    }


.form-group{
  box-sizing: border-box;
  width: 250px;
}

.form-control{
  border-radius: 0px;
}
.form-group2{
  width: 150px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1e73be !important;
    border-radius: 0px;
    border-color: #1e73be !important;
}

