    body {
    background-blend-mode: hard-light;
    font-size: 10pt;
    /* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Vollkorn', serif; */
}

#clock {
    text-align: left;
    padding-top: 20px;
    vertical-align: middle;
    text-decoration: none;
}

#contactus, .input-group {
    z-index: 0;
}

.asdf {
    padding-bottom: 500px;
}

.well {
    border: none;
    background-color: white;
}

#header {
    position: relative;
    width: 100%;
    display: table;
}

.theTriton {
    padding: 5px;
    vertical-align: middle;
    font-size: 30pt;
    color: #000;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

#navigation.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    width: 100%;
    z-index: 1;
}

#container {
    min-height: 300%;
}

.sectionhome {
    font-size: 30px;
    text-align: center;
}

.sectiontitle {
    font-size: 30px;
}

nav ul {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

section {
    line-height: 1.5em;
    font-size: 0.9em;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
}

.handle {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: black;
}

.entry-social {
    margin-bottom: 20px;
    color: rgb(126, 126, 126);
    display: block;
    font-family: 'Open Sans',Tahoma, Verdana, Arial, sans-serif, Faruma, Faseyha;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height:23.799999237060547px;margin-bottom: 20px;width: 100%;
    width: 100%;
    float:left;
    border: solid 0px #aaa;
    text-align: center;
}

.entry-social div {
    display: block;
    width:138px;
    margin:2px;
    display: inline-block;  
    vertical-align: middle;
}

.entry-social a {
    text-decoration:none;
    display: block;
    padding-left: 5px;
    color: #FFFFFF;
    font-weight: bold;
    transition:background-color .3s;    
}

.entry-social .fb a {
    padding: 7px 10px 7px 26px;
    background: #3B5999 url('http://3.bp.blogspot.com/-yqD2363XuAo/UeDk98twSlI/AAAAAAAAArg/kXIzFBWmczM/s1600/fb14.png') no-repeat 10px center;
}

.entry-social .twitter a {
    padding: 7px 10px 7px 32px;
    background: #01BBF6 url('http://3.bp.blogspot.com/-0u8P4VQmEeU/UeDlVdilwcI/AAAAAAAAAro/lGTnlvHGyVw/s1600/twitter14.png') no-repeat 8px center;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    font-size: 10px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* shows hamburger on desktop */

@media screen and (max-width:766px) {
    nav ul {
        max-height: 0;
    }
    .showing {
        max-height: 20em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: center;
    }
}


/* hides the navigation bar on desktop */

@media screen and (min-width: 768px) {
    .handle {
        display: none;
    }
    .footer {
        padding: 20px;
    }
    #copyright {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .border-right {
        border-right: 1px solid black;
    }
